{% extends 'base.html.twig' %}

{% block title %}Hello liste permis!{% endblock %}

{% block body %}
<div class="racine " >
    <h4>Nos Services</h4>
    {% for permis1 in permis %}
            <div class=listPermis ">
                <div class="imgcard">
                    {% if permis1.image %}
                        <img src="{{ asset('images/' ~ permis1.image) }}" alt="{{ permis1.id }}"  />
                    {% else %}
                        Pas d'image
                    {% endif %}
                </div>
                <div class="imgtext">
                        <h4 class="cardtitle "><span style="color:red;">{{ permis1.type | default('') | upper }}</span></h4>
                        <p class="cardtext">{{ permis1.description }}</p>
                        <p class="cardtext hover-effect"><span style="color:red;">€{{ permis1.price | default('') | upper }}</span></p>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
