

{% extends 'base.html.twig' %}

{% block title %}Formulaire Permis{% endblock %}

{% block body %}
    <div class="userForm">
        {{ form_start(form) }}
    
            <h4>Formulaire de permis</h4>
            {{ form_start(form) }}
        <div class="labelUser1">
        
            {{ form_label(form.type, null, {
                'label': 'type',
                'label_attr': {'class': 'text_label'}
            }) }}
            {{ form_widget(form.type, {'attr': {
                'class': 'text_field',
                'placeholder': "type de permis ..."
            }}) }}
        </div>
        <div class="labelUser1">
        
            {{ form_label(form.price, null, {
                'label': 'price',
                'label_attr': {'class': 'text_label'}
            }) }}
            {{ form_widget(form.price, {'attr': {
                'class': 'text_field',
                'placeholder': "le price ..."
            }}) }}
        </div>
        <div class="labelUser1">
        
            {{ form_label(form.description, null, {
                'label': 'description',
                'label_attr': {'class': 'text_label'}
            }) }}
            {{ form_widget(form.description, {'attr': {
                'class': 'text_field',
                'placeholder': "la description ..."
            }}) }}
        </div>
        <div class="labelUser1">
        
            {{ form_label(form.image, null, {
                'label': 'image',
                'label_attr': {'class': 'text_label'}
            }) }}
            {{ form_widget(form.image, {'attr': {
                'class': 'text_field',
                'placeholder': "description ..."
            }}) }}
        </div>
        
            {# Affichage de l'image si elle existe #}
            {% if form.vars.value.image is not null %}
                <img src="{{ asset('images' ~ form.vars.value.image) }}" alt="Permis Image">
            {% endif %}
    
            <button type="submit" class="btn btn-success">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
